.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-wrapper{
  border: 1px solid green;
  padding: 1%;
}

.form-wrapper form{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  padding: 2%;
}
.form-wrapper form label{
  font-size: 1.5rem;
}
.form-wrapper form input{
  margin-bottom: 6%;
  padding: 0.4rem;
}
.form-wrapper form button{
  padding: 0.5rem 2.5rem;
  font-size: 1.5rem;

  margin: 0 auto;
  border: none;
  border-radius: 20px;
  background-color: slateblue;
  color: white;
}
